.card {
  &__outerContainer {
    height: 100%;
    width: 100%;
    border: 1px solid red;
    padding: 1rem;
    background-color: white;
    border-radius: 50%;
  }
  &__imageContainer {
    border: 1px solid green;
    background-color: $septenaryColor;
    border-radius: 50%;
  }
  &__image {
    border-radius: 50%;
  }
}
