.contestInfo {
  @include flex(column, center, center);
  text-align: center;
  margin-bottom: 2rem;
  &__headline,
  &__details {
    font-family: "Morgan Poster Avec";
    text-transform: uppercase;
  }
  &__details,
  &__tip {
    color: $tertiaryColor;
  }
  &__headline {
    font-size: 3.4rem;
  }
  &__details {
    font-size: 2rem;
  }
  &__tip {
    font-family: "SF Pro Display Light";
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .contestInfo {
    &__headline {
      font-size: 4rem;
    }
    &__details {
      font-size: 2.35rem;
    }
  }
}
