.downloads {
  @include flex(column, center, center);
  padding-bottom: 4rem;
  &__button,
  &__buttonImage {
    width: 100%;
  }
  &__header {
    font-family: "SF Pro Display Regular", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: $tertiaryColor;
    margin: 3rem auto 1rem;
  }
  &__buttonContainer {
    @include flex(row, auto, center);
  }
  &__button {
    background-color: transparent;
    border: none;
    margin: 1%;
    max-width: 20rem;
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
  &__buttonImage {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .downloads {
    &__button {
      margin: 5%;
    }
  }
}
