.header {
  @include flex(auto, center, center);
  height: 35vh;
  &__title--visuallyHidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  &__imageContainer {
    margin: 3rem 0;
  }
}
