.playerImage {
  width: 13.5rem;
  @include flex(auto, center, center);
  margin-bottom: -3rem;
  &__outerContainer,
  &__innerContainer,
  &__image {
    border-radius: 50%;
  }
  &__outerContainer {
    padding: 1rem;
    background-color: white;
  }
  &__innerContainer {
    background-color: $septenaryColor;
  }
}

@media (min-width: 768px) {
  .playerImage {
    margin-bottom: 2rem;
    margin-left: -3rem;
    &:first-child {
      margin-left: 0;
    }
  }
}
