$primaryColor: #012146;
$secondaryColor: #f8f8f8;
$tertiaryColor: #6e6e6e;
$quatenaryColor: #f0f0f0;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
